$dark-blue: #222222;
$pink: #F1E4E6;
$dark-pink: #F16D7F;
$brown: #474040;
$gray: #9F9F9F;
$light-gray: #F8F8F8;
$dark-white: #FBFBFB;
$ashy: #E1E1E1;
$gray-pink: #F8F3F4;
$dark-ashy: #B1B1B1;
$dark-black: #575757;
$light-brown: #F5F3F3;
$max-tablet-width: 1599px;
$max-mobile-width: 767px;