.carts {
    .carts__item {
        display: flex;
        margin: 0 0 41px 0;
        box-shadow: 15px 12px 25px rgba(122, 122, 122, 0.3);
    }
    .carts__item-information {
        min-width: 390px;
        min-height: 306px;
    }
    .carts__heading-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 22px 22px 42px 31px
    }
    .carts__heading {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        text-align: left;
        text-transform: uppercase;
        color: $dark-blue;
    }
    .carts__heading-subtitle {
        display: block;
    }
    .carts__button-close {
        background-color: white;
        border: none;
        padding: 0;
        margin-top: -20px;
    }
    .carts__list {
        margin: 0 0 0 31px;
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        color: $dark-black;
    }
    .carts__list-input {
        border: 1px solid #EAEAEA;
        margin: 0 0 0 25px;
        outline-color: $dark-ashy;
    }
    .carts__list-item {
        margin: 0 0 6px 0;
    }
    .carts__list-subtitle {
        color: $dark-pink;
    }
    .carts__buttons {
        display: flex;
        justify-content: space-between;
        margin: 72px 0 128px 0;
    }
    .carts__button {
        width: 234px;
        height: 49px;
        background-color: white;
        border: 1px solid #A4A4A4;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        color: black;
        text-transform: uppercase;
    }
    .button-next {
        width: 224px;
    }
}